<!DOCTYPE html>
<html>
  <head>
    <title>Moola</title>
    <link rel='Stylesheet' type='text/css' href='/stylesheets/moola.css' />
    <script type='text/javascript' src='/javascripts/jquery.js'></script>
  </head>
  <body>
    <div id='container'>
      <%=yield%>
    </div>
  </body>
</html>
