<h2>Sign in</h2>
<form name='signin' method='POST' id='signin' action='/session/create'>
  <input type='text' name='username' />
  <input type='password' name='password' />
  <input type='Submit' value='Sign in' />
</form>
